# Windows
Thumbs.db
ehthumbs.db


.idea/
.idea/*
.idea/.idea_modules
.idea/.idea_workspace
.idea/.idea_scope
.idea/.idea_data
.idea/.idea_backup
.idea/*.iml
.idea/workspace.xml


bin/
obj/
out/


wwwroot/
node_modules/
.vs2019/
.vs2017/


.docker/


*.log


npm-debug.log*
yarn-debug.log*
yarn-error.log*


.idea/.idea/
.idea/.idea_modules/
.idea/inspectionProfiles/


.vscode/


.DS_Store
Desktop.ini
